.search-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  width: 824px;
  height: 100%;

}

.search-group-input {
  flex-grow: 1;

  height: 36px;
  padding: 8px 12px;

  border: 1px solid var(--border-secondary);
  border-radius: 4px 0 0 4px;

  font: var(--text-400-14);
  color: var(--text-secondary);
}

.search-group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 36px;

  padding: 8px 12px 8px 12px;
  gap: 8px;

  background: var(--background-primary);
  border-radius: 0 4px 4px 0;
  border: none;
}

.search-group-btn:hover {
  background: var(--background-active);
}

.search-group-btn .p-button-label {
  font: var(--text-400-14);
  color: var(--text-light);
}

.search-group-btn .p-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
}
