header {
  width: 100%;
  background-color: var(--background-dark);
  height: 52px;
  padding: 8px;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  align-items: flex-start;
}

