header {
  width: 100%;
  background-color: var(--background-dark);
  height: 52px;
  padding: 8px;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1296px;
}

.header-block-button-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  padding: 8px 0;
  background-color: transparent;
  border: none;
}

.header-block-button-login .header-block-button-login-label {
  font: var(--text-400-14);
  color: var(--text-light);
}

.header-block-button-login .header-block-button-login-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  width: 20px;
  height: 20px;
  margin-right: 8px;
  padding: 2px;
}

/*изменить цвет при наведении, не работает!*/
.header-block-button-login:hover {
  color: var(--text-primary);
}

.p-button-newAd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background-color: var(--background-primary);
  border: none;
}

.p-button-newAd:hover {
  background: var(--background-active);
}

.p-button-newAd .p-button-newAd-label {
  font: var(--text-400-14);
  color: var(--text-light);
}

.p-button-newAd .p-button-newAd-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  color: var(--text-light);
}

