menu {
  width: 100%;
  background-color: var(--background-light);
}

.menu-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1296px;
  height: 36px;
  margin: 24px 0;
}

h1 {
  font: var(--h3-700-30);
  color: var(--text-default);
  white-space: nowrap;
}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 24px;
}

