menu {
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 24px auto 24px;

  background-color: var(--background-light);
}

.menu-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1296px;
  height: 36px;

  gap: 24px;
}

.board-ad {
  flex-grow: 0;
  font: var(--h3-700-30);
  color: var(--text-default);

}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  gap: 12px;
}

