<div class="product-card">
  <p-card styleClass="p-card">
    <ng-template pTemplate="header" class="product-card-img">
      <img ngSrc="/assets/imgs/img1.png" alt="Card" height="240" width="306" />
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="product-card-footer">
        <p class="product-card-header">Гитара Fender</p>
        <p class="product-card-price">20 000 &#8381;</p>
        <p class="product-card-address">Москва, Ленинский проспект</p>
        <p class="product-card-date">Сегодня 14:12</p>
      </div>
    </ng-template>
  </p-card>
</div>
