.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.cards-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 1296px;

  column-gap: 24px;
  row-gap: 32px;
}
