main {
  width: 100%;
  background-color: var(--background-light);
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}
h4 {
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 24px;
  font: var(--h4-600-24);
  color: var(--text-default);
  border: none;
}

.main-block-product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 32px;
  column-gap: 24px;
}
