main {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;

  background-color: var(--background-light);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1296px;
  border: none;
}

#recommendation {
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 24px;
  font: var(--h4-600-24);
  color: var(--text-default);
  border: none;
}
