@import url(styles/reset.scss);
@import url(styles/fonts.scss);
@import url(styles/styles-var.css);
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  width: 100%;
  height: 100%;
}

.container{
  width: 1296px;
  margin: 0 auto;
}

h4 {
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 24px;
  font: var(--h4-600-24);
  color: var(--text-default);
  border: none;
}
